

img {
    width: 100px;
    height: auto;
}

i {
    position: absolute;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    width: 100vw;
}

.sun {
    opacity: 0;
}

.img-wrapper {
    position: fixed;
    top: 20%;
    left: 40%; 
}

h1 {
    padding-top: 50px;
    width: 100vw;
    text-align: center;
}

#dark-mode-button {
    opacity: 0;
    width: 0;
    margin: 0;
}


body {
    padding: 0;
    margin: 0;
}

.theme-wrapper {
    width: 100vw;
    height: 100vh;
}

#dark-mode-button:checked ~ .symbols .sun  {
    opacity: 100;
}

#dark-mode-button:checked ~ .symbols .moon  {
    opacity: 0;
}

#dark-mode-button:checked ~ .theme-wrapper {
    background-color: black;
    color: white;
}

#dark-mode-button:checked ~ i, .sun{
    background-color: black;
    color: white;
}

#dark-mode-button:checked ~ .img-wrapper img {
    filter: grayscale(100%)
}

